#bg-circles {
  height: calc(100vh - 40px);
  width: calc(100vh - 40px);
  max-width: 100vw;
  position: absolute;
  opacity: 0.33;
}

.background-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#inner-circle {
  transform: scale(0.75);
  animation-duration: 10s;
  animation-name: innerCircleAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#outer-circle {
  animation-duration: 13s;
  animation-name: outerCircleAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes innerCircleAnimation {
  from {
    transform: scale(0.75) rotate(0deg);
  }
  to {
    transform: scale(0.75) rotate(360deg)
  }
}

@keyframes outerCircleAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg)
  }
}