#form-container {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-form {
  margin-top: 1em;
  position: relative;
  max-width: 350px;
  width: 100%;
}

.email-input {
  padding: 1.5em 4em 1.5em 2em;
  font-size: 14px;
  border-radius: 200px;
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(var(--accent-color),.20);
  width: 100%;
  box-sizing: border-box;
}