.submit-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  box-shadow: 0 3px 6px rgba(25, 26, 27,.40);
  background: var(--accent-color);
  color: var(--secondary-color);
  transition: 200ms ease-in-out all;
  -webkit-appearance: none;
  z-index: 100;
  opacity: 1;
}

.submit-btn:hover {
  cursor: pointer;
  transform: translateY(-50%) scale(1.2);
  transform-origin: center center;
}

.submit-btn-loading {
	width: 100%;
	height: 100%;
	right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 200px;
  background-color: var(--primary-grey);
  color: var(--secondary-color);
  transform: translateY(0) scale(1.05);
  -webkit-appearance: none;
}

.submit-btn-loading:hover {
  transform: translateY(0) scale(1.05);
  transform-origin: center center;
  cursor: not-allowed;
}

.submit-btn-data-send {
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 200px;
  transform: translateY(0) scale(1.05);
  animation: .4s bounce ease-in-out;
  -webkit-appearance: none;
}

.submit-btn-data-send:hover {
  transform: translateY(0) scale(1.05);
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1.05);
  }
  50% {
    transform: translateY(0) scale(1.5);
  }
  100% {
    transform: translateY(0) scale(1.05);
  }
}