:root {
  --main-color: #1a1d1c;
  --secondary-color: #fbfbfb;
  --accent-color: rgb(71,185,144);
  --primary-grey: #4d4d4d;
}

hmtl, body {
  overflow: hidden;
  position: relative;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
}

.App-logo {
  height: 80px;
}

.App-title {
  color: var(--secondary-color);
  font-size: 1.5em;
}

.App-intro {
  color: var(--secondary-color);
  font-size: large;
}

#content {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}